@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(../img/bg.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60vmax;
  background-color: #E6E6E6;
}

@media screen and (max-width: 922px) {
  body {
    background-image: url(../img/bg1.png);
  }
}

.costume-nav .navbar-brand {
  width: 25px;
  height: 25px;
  color: #F6B459;
  margin-left: -0.4em;
  margin-bottom: 5px;
  margin-top: -38px;
  font-weight: 900;
  font-size: 2.5rem;
  text-shadow: 1px 1px 5px rgba(63, 61, 86, 0.4);
}

.costume-nav .navbar-brand span {
  font-size: 1rem;
}

@media (max-width: 767px) {
  .costume-nav #navbarNav .navbar-nav .navbar-nav .open .dropdown-menu {
    background-color: #0000;
  }
}

.costume-nav #navbarNav .navbar-nav .nav-item {
  margin-right: 1.2em;
}

.costume-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: 400;
  margin-left: 2.4em;
  -webkit-transition: 0.3 color ease;
  transition: 0.3 color ease;
}

.costume-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: black;
}

.costume-nav #navbarNav .navbar-nav .nav-item .sign-up-button {
  background-color: #ffffff;
  color: #F6B459;
  font-weight: 400;
  border-radius: 2em;
  border: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.costume-nav #navbarNav .navbar-nav .nav-item .sign-up-button:hover {
  color: #F6B459;
  background-color: #3F3D56;
}

@media screen and (max-width: 992px) {
  .costume-nav {
    margin-top: -1em;
  }
  .costume-nav .navbar-brand {
    color: #3F3D56;
    text-shadow: 1px 1px 5px rgba(63, 61, 86, 0.4);
  }
  .costume-nav .navbar-item {
    background-color: #ffffff;
    color: #F6B459;
    font-weight: 400;
    border-radius: 2em;
    border: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.costume-section {
  margin-top: 8.5em;
}

.costume-section h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #F6B459;
  line-height: 1;
}

.costume-section h5 {
  color: #3F3D56;
  line-height: 1;
  margin-left: 0.10em;
}

.costume-section p {
  margin-left: 0.10em;
  color: #3F3D56;
  font-size: 1rem;
  margin-top: 1.5em;
}

.costume-section .sign-up-button {
  margin-top: 1.5em;
  -webkit-transition: 0.5 color ease;
  transition: 0.5 color ease;
  display: inline-block;
  background-color: #F6B459;
  color: #ffffff;
  font-weight: 400;
  border-radius: 2em;
  border: 0;
  padding: 0.5em 2em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  font-weight: 400;
}

.costume-section .sign-up-button:hover {
  color: #F6B459;
  background-color: #3F3D56;
}

.costume-section .margin {
  margin-top: 1.5em;
  -webkit-transition: 0.5s color ease;
  transition: 0.5s color ease;
  margin-left: 1.5em;
  text-decoration: none;
  color: #F6B459;
  font-weight: 400;
}

.costume-section .margin:hover {
  color: #8784a8;
}

@media screen and (max-width: 992px) {
  .costume-section {
    margin-top: 12em;
    text-align: center;
  }
  .costume-section h2 {
    text-shadow: 1px 1px 5px rgba(63, 61, 86, 0.5);
  }
  .costume-section h5 {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
  }
  .costume-section p {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
  }
  .costume-section a {
    margin-left: -0.75em;
  }
}

#comingsoon h2 {
  font-weight: 700;
  margin-top: 10em;
  margin-left: 5em;
  line-height: 1;
  color: #F6B459;
}

#comingsoon h5 {
  line-height: 1;
  font-weight: 500;
  margin-left: 7.1em;
}

#comingsoon a {
  line-height: 1;
  font-weight: 400;
  margin-left: 11.5em;
  color: #3F3D56;
}

@media screen and (max-width: 992px) {
  #comingsoon {
    margin-top: 10em;
    line-height: 1;
    font-weight: 400;
  }
  #comingsoon h2 {
    text-align: center;
    margin-top: 2em;
    margin-left: -1em;
    line-height: 1;
    text-shadow: 1px 1px 5px rgba(63, 61, 86, 0.5);
  }
  #comingsoon h5 {
    text-shadow: 1px 1px 5px rgba(63, 61, 86, 0.5);
    text-align: center;
    line-height: 1;
    margin-left: -0.1em;
  }
}
